/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.transparent {
  background: transparent;
  box-shadow: none;
}

.navbar.scrolled {
  background: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px -2px, rgba(0, 0, 0, 0.3) 0px 2px 4px -2px;
}

/* Custom Navbar Nav */
.custom-navbar-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: antiquewhite;
  margin-left: auto;
}

.nav-link {
  color: white !important;
  transition: color 0.3s ease;
  text-decoration: none;
  font-size: 20px;
}

.nav-link:hover {
  color: black !important;
}

.nav-link.active {
  color: #157347 !important;
}

/* Mobile View */
@media (max-width: 768px) {
  .navbar {
    background-color: #357446 !important;
  }

  .custom-navbar-nav {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding-left: 20px;
  }

  .nav-link {
    color: black !important;
    font-size: 20px;
  }
}

